In [1]:
import numpy as np
import pandas as pd

In [3]:
dim_label = ['a', 'b', 'c'] # My label list
dim_list = [10, 20, 30] # My list of numbers
dim_arr = np.array([1, 2, 3]) # An array of numbers
dim = {'x':11, 'y':22, 'z':33} # A Dictionary

In [4]:
# Print the dataframes as a series of list
pd.Series(dim_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(dim_list, index=dim_label)
#Replace the index arg(0,1,2) with my labels

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(dim_arr,dim_label)
#This prints out the array n labels

a    1
b    2
c    3
dtype: int32

In [8]:
pd.Series(data=dim_label)
#The labels can be used as data too

0    a
1    b
2    c
dtype: object

In [9]:
pd.Series([sum,print,len])
#Its really flexible that it can take almost anything in

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [14]:
ser1 = pd.Series([10,15,8,12], index=['US','GB','JP','FR'])
ser2 = pd.Series([200,115,120,100], index=['bayo','FR','eji','US'])
ser1

US    10
GB    15
JP     8
FR    12
dtype: int64

In [15]:
ser2

bayo    200
FR      115
eji     120
US      100
dtype: int64

In [12]:
ser1['GB']
#Grabbing the value using its index

15

In [13]:
ser2['eji']

120

In [16]:
ser1 + ser2
#It adds the matching indexes and write NaN for the rest

FR      127.0
GB        NaN
JP        NaN
US      110.0
bayo      NaN
eji       NaN
dtype: float64